@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #FBBF24;
    --dark-gray: #6B7280;
    --light-gray:#E5E7EB;
}

body {
    font-family: "Montserrat", sans-serif;
    margin:0px;
}

.container {
    padding: 0rem 1rem;
    /* **Important to not add "," after one value of padding i.e 0.5 rem 1rem (correct way of doing) */

}

.container-centre {
    max-width: 600px;
    margin: auto;
    text-align: justify;
}
/* Links */
.link {
    padding: 0.5rem 1rem;
    /* here padding is to add some rea to TRBL of the element */
    text-decoration: none;
}

.primary-link {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    background-color: white;
    border: 1px solid var(--primary-color);
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline-block;
    margin: 0rem 0.5rem;

}
/* Navigation */
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/* Header */

.hero {
    padding: 2rem;
    
}

.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    padding-top: 1rem;
    color: var(--dark-gray);
    text-align: center;
}
.hero .hero-heading .heading-inverted{
    color: var(--primary-color)
    
}
/* Sections */
.section{
    padding: 2rem;
}
.section h1 {
    text-align: center;
    
}
.off-white{
    background-color: var(--light-gray);
}


/* footer */
.footer{
    background-color: var(--primary-color);
    padding:2 rem;
    text-align: center;
    color:white;
}

/* To set link oclors to white */
.footer .link{
    color: white;
}
.footer ul{
    padding-inline-start:0px;
}